* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eeeeee25;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h2 {
  padding-top: 10px;
  background-image: linear-gradient(to right, orange, rgb(183, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header h1 {
  font-size: 48px;
  color: rgb(3, 6, 53);
}

.content {
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 10px;
}

.up {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  background-color: #eee;
  border-radius: 20%;
  padding-top: 10px;
  
}

.down {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15%;
  text-align: center;
  height: 300px;
  background-color: #eee;
  padding-top: 10px;
  border-radius: 20%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
  margin-top: 150px;
}

h2,
p {
  padding: 12px;
}
p {
  line-height: 2;
}
